* {
    margin: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

header {
    display: flex;
    justify-content: center;
    background-color: #263852;
    height: 40%;
    padding: 1%;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 2rem;
}

#title {
    font-size: 33px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #263852;
}

#title1 {
    display: none;
}

#category {
    font-size: 17px;
    font-weight: bold;
}

#categories {
    width: 60%;
}

#subscribe {
    font-size: 17px;
    font-weight: bold;
}

.subs {
    display: flex;
}

.box {
    background-color: white;
    color: #293555;
    border: 2px solid red;
    padding: 0.2% 2% 0.3% 2%;
}

.inbox {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 5px;
}

.top {
    display: flex;
    flex-direction: row;
}

img {
    float: left;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}

.blog {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.details {
    color: #212121;
    font-size: 12px;
    padding: 3px;
}

article {
    margin-left: 15px;
}

.para1 {
    padding: 30px;
}

.para {
    padding-right: 10px;
    padding-left: 2px;
}

.footer {
    background-color: #263852;
    color: white;
    height: 25px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    font-size: 20px;
}

.btn {
    margin-top: 5px;
    background-color: CORAL;
    font-size: 14px;
    height: 35px;
    border: none;
}

hr {
    width: 90%;
    margin-left: 40px;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width: 960px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .line {
        margin-top: 7rem;
        width: 80%;
    }

    .para1 {
        display: flex;
        flex-direction: column;
    }

    #category {
        margin-bottom: 2rem;
    }

    #title {
        display: none;
    }

    #title1 {
        display: block;
        font-size: 33px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: #263852;
        text-align: center;
        margin-top: 1rem;
    }

    
}